* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: monospace;
}

/* сітка */
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* картка фільму */
.movie {
  border: 2px solid white;
  padding: 10px;
  text-align: center;
}

/* картинки */
.movie img {
  width: 100%;
  height: auto;
  display: block;
}

/* посилання */
.movie a {
  display: block;
  margin-top: 10px;
  color: #fefdff;
  text-decoration: none;
}
